    <section id="introduce">
        <div class="breadcumb-container">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                    </ol>
                </nav>
            </div>
        </div> 
        <div class="introduce-main">
            <div class="common-heading common-heading--introduce">
                <div class="common-heading__img-wrap">
                    <img class="common-heading__img" src="./assets/imgs/logo-text.png" alt="">
                </div>
                <p class="common-heading__text">giới thiệu</p>
            </div> 
            <div class="introduce-content"> 
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4"> 
                            <img src="/img/intro-img.webp" alt="">
                        </div> 
                        <div class="col-lg-8"> 
                            <p>
                                Góc Bé Yêu – Shop Bách Hóa Mẹ Và Bé Tại TPHCM. Shop chuyên bán lẻ quần áo trẻ em VNXK và quần áo trẻ em nhập khẩu Hàn
                                Quốc. Nhiều mẹ gọi shop Góc Bé Yêu là shop mẹ yêu con TPHCM.
                            </p> 
                            <p>
                                Rất nhiều mẫu váy đầm bé gái đẹp và quần áo trẻ em cao cấp cho bé từ sơ sinh đến bé 14 tuổi.
                            </p> 
                            <p>
                                Quần áo bé trai đẹp đang có rất nhiều size: từ quần áo cho bé trai 1 tháng tuổi cho đến 7, 8 tuổi và các size đại cho bé
                                béo phì để giải đáp câu hỏi mua áo thun nam size lớn ở đâu của các mẹ.
                            </p> 
                            <p>
                                Quần áo bé gái đẹp có size nhiều: từ quần áo bé gái 1 tháng tuổi cho đến 9 và 10 tuổi. Có nhiều mẫu váy đầm sành điêu
                                cho bé gái xuất khẩu Hàn Quốc.
                            </p> 
                            <p>
                                Bên cạnh quần áo, shop còn bán lẻ giày bé trai 3 tuổi, giày cho bé 1 tuổi cho đến 12 tuổi cho cả bé gái và bé trai với
                                nhiều màu sắc, phát sáng, năng động và thoáng khí…
                            </p> 
                            <ul class="socials-list">
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href="">
                                            <i class="fa-brands fa-github"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href="">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href="">
                                            <i class="fa-brands fa-square-instagram"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href="">
                                            <i class="fa-brands fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href="">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div> 
    
        </div>
    </section>  
